<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team16.doglog">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<!--    need this to access the camera-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogLog">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="t.macbeth.camerademo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" /> -->
            </intent-filter>
        </receiver>
        <activity
            android:name=".MiscInformation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MedicalHistory"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Reminders"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShotsMedication"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>